tools/cli-application/src/main/resources/diff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="diff" type="diffType"/>
  <xs:complexType name="checkType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
    <xs:attribute type="SeverityType" name="severity" use="optional"/>
  </xs:complexType>
  <xs:complexType name="applyType">
    <xs:attribute type="xs:string" name="set" use="required"/>
  </xs:complexType>
  <xs:simpleType name="SeverityType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="info"/>
      <xs:enumeration value="warn"/>
      <xs:enumeration value="error"/>
      <xs:enumeration value="fatal"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="checksType">
    <xs:sequence>
      <xs:element type="checkType" name="check" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diffType">
    <xs:all>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="applyType" name="apply" minOccurs="0"/>
      <xs:element type="checksType" name="checks" minOccurs="0"/>
    </xs:all>
  </xs:complexType>
</xs:schema>
