tools/cli-application/src/main/resources/diff.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="diff" type="diffType"/>
  <xs:complexType name="checkType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checksType">
    <xs:sequence>
      <xs:element type="checkType" name="check" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="diffType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="checksType" name="checks"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
